# SPDX-License-Identifier: GPL-2.0
#
# Library configuration
#

menu "Library routines"
#
# libfdt files, only selected if needed.
#
config LIBFDT
	bool

config ARCH_HAS_FAST_MULTIPLIER
	bool

config ARCH_HAS_UACCESS_FLUSHCACHE
	bool

config GENERIC_FIND_FIRST_BIT
	bool

#
# Generic 64-bit atomic support is selected if needed
#
config GENERIC_ATOMIC64
       bool

endmenu
